.email {
    color: #92969a;
    font-size: 2rem;
    font-weight: 800;
}

@media (max-width: 710px){
    .email {
        font-size: 1.5rem;
    }
}

@media (max-width: 530px){
    .email {
        white-space: wrap;
        font-size: 1rem;
    }
}