@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

/* Container with flex layout for left text & right image */
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    min-height: 100vh;
}

/* The wrapper for text & image */
.about-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
}

.about-title {
    text-align: start;
    margin-bottom: 20px;
}

/* Glass effect for text box */
.about-text {
    flex: 1 1 400px;
}

.about-p {
    color: #aaa;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8rem;
}

.about-link {
    color: var(--color);
}

/* Right side image */
.about-image {
    flex: 1 1 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-image img {
    max-width: 100%;
    border-radius: 16px;
    object-fit: cover;
}

/* Responsive adjustments */
@media (max-width: 900px) {
    .about-container {
        padding: 1rem;
        min-height: auto;
    }
    .about-text {
        padding: 1rem;
        margin-bottom: 1rem;
    }
    .about-image {
        display: none;
    }
}
