.about-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    background: radial-gradient(circle at 75% 50%, rgba(101, 30, 183, 0.1) 0%, transparent 30%);
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    max-width: 1200px;
    width: 100%;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    animation: slideUp 1s forwards;
}

.about-title {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: #1c1c1c;
    margin-bottom: 2rem;
}

.about-description {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #666;
    margin-bottom: 2rem;
}

.about-button {
    max-width: 300px;
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    padding: 1.2rem 3.5rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(135deg, #651eb7 0%, #9D00FF 50%, #ff00fb 100%);
    opacity: 0;
    animation: slideUp 1s forwards;
    animation-delay: 0.8s;
    position: relative;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    align-items: center;
    gap: 12px;
}

.about-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.2),
            transparent);
    transition: 0.6s;
}

.about-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(101, 30, 183, 0.4);
}

.about-button:hover::before {
    left: 100%;
}

.about-button:hover {
    transform: translateX(4px) rotate(45deg);
}

.about-image {
    display: flex;
    justify-content: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
    animation: levitate 5s ease-in-out infinite;
}

@keyframes levitate {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .about-content {
        grid-template-columns: 1fr;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-image {
        display: none;
    }

    .about-title {
        text-align: center;
    }

    .about-description {
        text-align: justify;
    }

    .about-button {
        margin: auto;
    }
}